body,
body * {
  box-sizing: border-box;
  overflow: hidden;
  
}


main {
  background-image: url("images/ben-rosett-nYugmV-SY6s-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.image {
  background-image: url(images/Bodas_de_Oro.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 60vw; 
  height: 65vh;
  /* padding-top: 20%; */
  opacity: 95%;
  margin: auto;
  
  
  
}

.countdown {
  width: 60vw; 
  margin: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
} 


p {
  display: inline;
  color: white;
  padding: 10px;
  
}

@media only screen and (min-width: 992px) {
  
  .image{
  width: 30vw;

  }
  
}